        <footer>
            <div>
                {{ if .Site.Menus.footer }}
                        <ul style="list-style-type: none; display: flex; justify-content: center;">
                            {{ range sort .Site.Menus.footer }}
                                <li style="margin-right: 1%"><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}
            </div>
            
            <p class="copyright has-text-centered">{{ .Site.Params.copyright | default "" | markdownify }}</p>
            
            <script src="{{ "js/manup.js" | absURL }}"></script>

        </footer>
       
    </body>

</html>
